<div class="experience-block">
  <div class="experience-header">
    <div class="experience-left">
      {{ include.where }}
    </div>
    <div class="experience-right">
      {{ include.from }} {% if include.to %} — {{ include.to }} {% endif %}{% if include.grade %} | Grade {{ include.grade }}{% endif %}
    </div>
  </div>

  <div class="experience-what">
    <i>{{ include.what }}</i>
  </div>

  {% if include.description %}
  <div class="experience-description">
    {{ include.description }}
    {% if include.link %}
      <a href="{{ site.baseurl }}{{ include.link }}" target="_blank">[{{ include.link_description }}]</a>
    {% endif %}
  </div>
  {% endif %}
</div>
